<form action = "/names" method = "post" > 
<input type = "text" name = "player_1_name">
<input type = "text" name = "player_2_name">
<input type = "submit" value = "Let battle commence!">
</form> 
"Test infrastructure working"
<%# Forms pass data to url bar as params, if post not specified
post actions have post rec. in app.rb   %>


